.App {
  font-family: 'Inter', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.warning {
  border-radius: 10px;
  background-color: #ffe3c5;
  color: #c98d57;
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

input, textarea {
  border: 1px solid #e6e6e6;
}


/* Order */

.order-container {
  /* background-color: aliceblue; */
  margin: 3px;
  padding: 0 10px;
}

.order-details {
  display: flex;
  flex-direction: row;
}

.entities {

}

.delivery-details {
  margin-left: auto;
}

.btn--add-product {
  border: 1px solid #e6e6e6;
  background-color: white;
  width: 120px;
  border-radius: 3px;
  padding: 6px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.btn--add-product:hover {
  background-color: rgb(240, 240, 240);
}

.btn--delete-order {
  border: 1px solid red;
  background-color: white;
  width: 120px;
  border-radius: 3px;
  padding: 6px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  height: 15px;
}

.divider-dashed {
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 10px;
  height: 10px;
}

.order-footer {
  display: flex;
  flex-direction: row;
}

.totals {
  margin-left: auto;
  margin-bottom: 15px;
  max-width: 34%;
}

/* Table */

table {
  width:100%;
  overflow-wrap: break-word;
  border-collapse: collapse;
  margin-bottom: 15px;
}

td, th {
  border: 1px solid #e6e6e6;
  padding: 0.5rem;
  text-align: left;
}

.table--header > th {
  font-size: 12px;
}

.table--row > td {
  font-size: 12px;
}

.table--totals > td {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.td--name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 5px;
}

.td--right {
  text-align: right;
}

.td--center {
  text-align: center;
}

.td--links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #1C78CD;
  margin-top: 10px;
}

.totals-row {
  padding: 5px 0;
  margin-bottom: -1px;
  margin-top: 5px;
}

.vat {
  margin-top: 0;
  font-size: 0.9em;
}

.span-text {
  display: inline-block;
  width: 170px;
  font-size: 12px;
  font-weight: bold;
}

.span-number {
  display: inline-block;
  width: 100px;
}

.span-persent {
  float: right;
  font-weight: normal;
  margin-right: 20px;
}

.span-currency {
  display: inline-block;
  width: 30px;
}

.green {
  color: #86c46a;
}

.order-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.footer-item {
  width: 34%;
  margin-bottom: 15px;
}

.footer-label {
  color: #929292;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.footer-value {
  color: #424242;
}

.footer-subtotal {
  color: #424242;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-weight: 500;
}

.footer-total-value {
  color: #929292;
  float: right;
}

.footer-grandtotal-value {
  float: right;
  font-weight: bold;
}

.cart-select {
  width:90%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 1em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  margin-left: -0.6em;
}

/* Modal */
