html, body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.order-list {
    width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.order-list--item {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.order-list--item:hover {
    background-color: #EFEFEF;
}

.gray-button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.button-remove {
    border: 1px solid #d72503;
    background-color: transparent;
    color: #d72503;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}

.button-approve {
    border: 1px solid #1fae51;
    background-color: #1fae51;
    color: white;
    padding: 10px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.button-archive {
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(165, 165, 165);;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}